input,
input[type="text"],
input[type="checkbox"],
input[type="radio"],
input[type="email"],
input[type="date"],
textarea,
select {
  border: solid 1px #ccc;
  border-radius: 4px;
  background-color: white;
  font-family: $font-family;
  height: 32px;
  padding-left: 6px;
  transition: border 0.5s;
  &:hover,
  &:focus,
  &.active {
    border: solid 1px $secondary;
  }
  &.fail {
    border: solid 1px red;
  }
  &[disabled] {
    background-color: #ccc;
  }
}

input[type="date"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.form {
  &-group {
    // 共用
    @include clearfix;
    width: 100%;
    margin-top: 10px;

    &__label,
    &__input,
    &__select {
      display: block;
      float: left;
    }
    &__label {
      width: 85px;
      transform: translateY(4px);
    }
    &__input,
    &__select {
      width: calc(100% - 85px);
    }
  }

  &-train {
    margin-top: 25px;
    &__list {
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $divideLine;
        margin-top: 12px;
      }
      &:nth-child(1) {
        &::before {
          display: none;
        }
      }
    }
  }

  &-conctrl {
    text-align: center;
    margin-top: 20px;
    &__btn {
      position: relative;
      display: inline-block;
      margin: 0 15px;
      width: 50px;
      height: 50px;
      background-color: white;
      border: solid 2px $secondary;
      border-radius: 50px;
      cursor: pointer;
      i.fas {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
      }
      &:hover,
      &:focus {
        background-color: $secondary;
        i.fas {
          color: white;
        }
      }
    }
  }

  &-submit {
    text-align: center;
    margin-top: 60px;
  }
}
