.lightbox {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
  &.open {
    display: block;
  }
}

.modal {
  &-mask {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
  }
  &-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    width: 90%;
    height: 100%;
    overflow: scroll;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 70px;
    background-color: #fff;
  }
  &-close {
    position: absolute;
    right: 5%;
    top: 22px;
    font-size: $font-size-md;
    cursor: pointer;
  }
}
